
<div class="modal fade" id="participant-modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content shadow">
          <div class="modal-header">
              <h5 class="modal-title">Change Message</h5>
              <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body bg-image" style="background-image: url()">
              <form id="inputs" class="needs-validation" novalidate="">
                  <div class="form-group">
                      <label for="participant-message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="participant-message-text"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer justify text-14">
              <button id="submit-participant-message" type="submit" class="btn btn-primary" data-toggle="modal"
                  data-target="#participant-modalForm">Submit</button>
          </div>
      </div>
  </div>
</div>

<div class="modal fade" id="participant-name-modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content shadow">
          <div class="modal-header">
              <h5 class="modal-title">Edit Participant Name</h5>
              <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body bg-image" style="background-image: url()">
              <form id="inputs" class="needs-validation" novalidate="">
                  <div class="form-group">
                      <label for="participant-name-text" class="col-form-label">Participant Name:</label>
                      <textarea class="form-control" id="participant-name-text"></textarea>
                  </div>
              </form>
          </div>
          <div class="modal-footer justify text-14">
              <button id="submit-participant-name" type="submit" class="btn btn-primary" data-toggle="modal"
                  data-target="#participant-name-modalForm">Submit</button>
          </div>
      </div>
  </div>
</div>

<div class="dropdown-menu" id="sequence-menu">
  <li><a class="dropdown-item" href="#" id="addMessageSolid">Add Message <span style="display:inline-block;width:20px;border-top:2px solid #333;vertical-align:middle;margin-left:4px"></span></a></li>
  <li><a class="dropdown-item" href="#" id="addMessageDashed">Add Message <span style="display:inline-block;width:20px;border-top:2px dashed #333;vertical-align:middle;margin-left:4px"></span></a></li>
  <li><a class="dropdown-item" href="#" id="seq-addActivation">Activate <span style="display:inline-block;width:6px;height:14px;background:#fff;border:1px solid #333;vertical-align:middle;margin-left:4px"></span></a></li>
  <li><a class="dropdown-item" href="#" id="seq-addNote">Add Note &#9998;</a></li>
</div>

<div class="dropdown-menu" id="activation-end-menu">
  <li><a class="dropdown-item" href="#" id="activation-deactivate">Deactivate</a></li>
  <li><a class="dropdown-item" href="#" id="activation-destroy">Destroy &#10005;</a></li>
</div>

<div class="dropdown-menu" id="seq-note-placement-menu">
  <li><a class="dropdown-item" href="#" data-placement="over">Over this participant</a></li>
  <li><a class="dropdown-item" href="#" data-placement="left"><span style="display:inline-block;transform:scaleX(-1)">&#10132;</span> Left</a></li>
  <li><a class="dropdown-item" href="#" data-placement="right">Right &#10132;</a></li>
  <li><a class="dropdown-item" href="#" data-placement="spanning">Spanning participants</a></li>
</div>

<div class="dropdown-menu" id="seq-note-menu">
  <li><a class="dropdown-item" href="#" id="seq-editNote">Edit Note</a></li>
  <li><hr class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="#" id="seq-deleteNote">Delete Note</a></li>
</div>

<div class="modal fade" id="seq-note-modalForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content shadow">
          <div class="modal-header">
              <h5 class="modal-title">Add Note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label for="seq-note-text" class="col-form-label">Note text:</label>
                  <textarea class="form-control" id="seq-note-text"></textarea>
              </div>
              <div class="form-group" id="seq-note-second-participant-group" style="display:none">
                  <label for="seq-note-second-participant" class="col-form-label">Second participant:</label>
                  <select class="form-control" id="seq-note-second-participant"></select>
              </div>
          </div>
          <div class="modal-footer">
              <button id="seq-submit-note" type="button" class="btn btn-primary" onclick="submitNote()">Submit</button>
          </div>
      </div>
  </div>
</div>

<div class="dropdown-menu" id="participant-menu">
  <li><a class="dropdown-item" href="#" id="addParticipantLeft"><span style="display:inline-block;transform:scaleX(-1)">&#10132;</span> Add Participant</a></li>
  <li><a class="dropdown-item" href="#" id="addParticipantRight">Add Participant &#10132;</a></li>
  <li><a class="dropdown-item" href="#" id="renameParticipant">Rename</a></li>
  <li><hr class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="#" id="deleteParticipant">Delete Participant</a></li>
</div>

<div class="dropdown-menu" id="message-menu">
  <li><a class="dropdown-item" href="#" id="editMessage">Edit Message</a></li>
  <li><hr class="dropdown-divider"></li>
  <li><a class="dropdown-item" href="#" id="deleteMessage">Delete Message</a></li>
</div>
